* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/Tela\ de\ Fundo\ Floral.png);
  --stroke-color: rgba(255, 255, 255, 0.50);
  --surface-color: rgba(255, 255, 255, 0.10);
  --switch-img: url(./assets/MoonStars.svg);

  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.20);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/Tele\ de\ fundo\ Light.png);
  --stroke-color: rgba(0, 0, 0, 0.50);
  --surface-color:rgba(0, 0, 0, 0.05);
  --switch-img: url(./assets/Sun.svg);

  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.10);
} 

body {
  /*backgroud e suas propriedades:
  
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  Isso pode ser escrito em uma única sentença, assim:

  backgroud: color image repeat position/size*/

  background: var(--bg-url) top center/cover;
  height: 100vh;
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);

}

#container {
  /*background-color: rgba(125,0,41,0.80);*/
  border-radius: 8px;
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
}

/* Profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img{
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px; 
  margin-top: 8px;
}

/* switch  */
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-img) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top:50%;
  left: 0;
  z-index: 1;
  transform:translateY(-50%);
}

.light #switch button{
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  border-radius: 9999px;
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* Lista de Links*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:16px;
  padding:24px 24px;
}


ul li a {
  display: flex;
  justify-content: center;
  align-items:center;

  padding: 16px 24px;
 
  border-radius: 8px;
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  transition: background 0.2s;

  text-decoration:none;
  font-weight: 500;  
}

/*Pseudo-selector*/
ul li a:hover {
  border: 1.5px solid var(--text-color);
  background: var(--surface-color-hover);
}

#social-links{
  display: flex;
  padding: 24px;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
  align-self: stretch;
  
}

#social-links ion-icon {
  padding: 16px;
}

#social-links ion-icon:hover {
  background-color: var(--highlight-color);
  border-radius: 50%;
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* media queries */
@media (min-width: 700px){
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

  /*ion-icon {
  padding: 8px;
}
ion-icon:hover{
  background-color: rgba(0, 0, 0, 0.50);
  padding: 8px;
  border-radius: 20px
}


/*Display
* none
* block
  Toda a largura disponível na tela. Elementos seguites vão automaticamente para baixo
* inline
  Elementos acomodados um ao lado do outro

Para saber se uma propriedade pode ser usada:
caniuse.com
  Para saber
